# COVID-19 Dataset

* In this project, I am showing different ways to collect COVID-19 dataset.
## For theoratical undestanding refer my medium page [Vivek Dhameliya on medium](https://medium.com/@dhameliyavivek99/data-science-for-covid-19-part-1-6687a62f9d63)

## 1. Cloning from the GitHub
 * John Hopkins (GITHUB) https://github.com/CSSEGISandData/COVID-19.git
 * I already cloned the above repositary via GIT BASH in my local drive where I want to save COVID-19 dataset

In [1]:
# importing python packages
import os
import pandas as pd
import subprocess
# set limit for displaying max amount of raws values for dataframe
pd.set_option('display.max_rows', 500)

In [2]:
# pulling data from github and storing in local drive
git_pull = subprocess.Popen( 'git pull' , 
                     cwd = os.path.dirname( 'C:/Users/dhame/ds_covid-19/data/raw/COVID-19/' ), 
                     shell = True, 
                     stdout = subprocess.PIPE, 
                     stderr = subprocess.PIPE )
(out, error) = git_pull.communicate()


print("Error : " + str(error)) 
print("out : " + str(out))

Error : b''
out : b'Already up to date.\n'

In [3]:
df_1= pd.read_csv('C:/Users/dhame/ds_covid-19/data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [4]:
df_1.head()

  Province/State Country/Region      Lat     Long  1/22/20   ...     6/15/20  6/16/20  6/17/20  6/18/20  6/19/20
0            NaN    Afghanistan  33.0000  65.0000        0   ...       25527    26310    26874    27532    27878
1            NaN        Albania  41.1533  20.1683        0   ...        1590     1672     1722     1788     1838
2            NaN        Algeria  28.0339   1.6596        0   ...       11031    11147    11268    11385    11504
3            NaN        Andorra  42.5063   1.5218        0   ...         853      854      854      855      855
4            NaN         Angola -11.2027  17.8739        0   ...         142      148      155      166      172

[5 rows x 154 columns]

## 2.1 Webscrapping on RKI webpage
* https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html

In [5]:
#python packages
import requests
from bs4 import BeautifulSoup

In [6]:
# create a page by giving URL of RKI Fallzahlen
page = requests.get("https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html")

In [7]:
# parseing the html link
soup = BeautifulSoup(page.content, 'html.parser')

In [8]:
#find the table, and this works if only one table exists
html_table=soup.find('table')

In [9]:
# use the table id 'tr' to extract data in forms of rows starting
all_rows=html_table.find_all('tr')

In [10]:
# create a empty list and than strip each text from rows data
data_list=[]
for pos,rows in enumerate(all_rows):
    col_list=[each_col.get_text(strip=True) for each_col in rows.find_all('td')] #td for data element
    data_list.append(col_list)

In [11]:
pd_daily_status=pd.DataFrame(data_list).dropna().rename(columns={0:'state',
                                                       1:'cases',
                                                       2:'changes',
                                                       3:'cases_per_100k',
                                                       4:'fatal',
                                                       5:'comment'})

In [12]:
pd_daily_status.head()

                state   cases changes cases_per_100k fatal comment
2  Baden-Württem­berg  35.272     +36            139   1,3   1.824
3              Bayern  47.827     +28            217   1,7   2.566
4              Berlin   7.733    +130            452  12,1     211
5        Branden­burg   3.383      +9             45   1,8     163
6              Bremen   1.636     +10             55   8,1      49

## 2.2 Webscrapping on Worldometer wegpage
* https://www.worldometers.info/coronavirus/

In [13]:
# python package
import csv

In [14]:
# giving URL address
URL = 'https://www.worldometers.info/coronavirus/'

In [15]:
# use requests to get the html at given URL
source = requests.get(URL).text

In [16]:
# Now use BeautifulSoup object on the html
soup = BeautifulSoup(source,'lxml')

In [17]:
# get the table with all of the countries/stats
table_1 = soup.find('table',id="main_table_countries_today")

In [18]:
# use the table id 'th' to extract data in forms of rows starting
table_header = table_1.find('thead').find_all('th')

In [34]:
# open a CSV file to write all the the data to
with open('COVID_19_from_worldometer.csv','w',newline='') as f:
    # csv writer object
    writer = csv.writer(f)

    # empty header list will store the raw data from the header
    # empty new_list list will store the data after parsing it to characters
    header = []
    new_list = []

    # get the data from the header and add it to the list
    for th in table_header:
        header.append(th.text)

    # strip the new lines and add it to the new list
    for element in header:
        new_list.append(element.strip())

    # remove all new lines / weird unicode chars
    for i,data in enumerate(new_list):
        new_list[i] = data.replace('\xa0', ' ')
        new_list[i] = data.replace('\n',' ')

    # write the row to the csv
    writer.writerow(new_list)

    # go through each row in the table and 
    for row in table_1.find_all('tr'):

        # csvRow list used to hold the data in each row
        csvRow = []

        # get the data and add it to the list
        for data in row.find_all('td'):
            csvRow.append(data.text)
        
        # remove all \n from the data
        for i in range(len(csvRow)):
            csvRow[i] = csvRow[i].replace('\n','')

        # write the csvRow data to the csvfile
        writer.writerow(csvRow)

# close file
f.close()

## 3.1 REST API 
* REST API services to retreive data from https://npgeo-corona-npgeo-de.hub.arcgis.com/

In [20]:
#python package
import json

In [21]:
# creating data request for Germany country
data=requests.get('https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/Coronaf%C3%A4lle_in_den_Bundesl%C3%A4ndern/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')

In [22]:
# use json package to load data from called REST API
json_object=json.loads(data.content)

In [23]:
#checking data_type of Json_object
type(json_object)

dict

In [24]:
# getting keys of json file
json_object.keys()

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'geometryProperties', 'geometryType', 'spatialReference', 'fields', 'features'])

In [25]:
# create empty list name full_list and than append data from json_object
full_list=[]
for pos,each_dict in enumerate (json_object['features'][:]):
    full_list.append(each_dict['attributes'])

In [26]:
# convert full_list to pandas dataframe
pd_full_list=pd.DataFrame(full_list)
pd_full_list.head()

  AGS_TXT  Aktualisierung  Death  Fallzahl        ...        OBJECTID_1   Shape__Area Shape__Length  faelle_100000_EW
0      01   1592604000000    152      3133        ...                 1  4.573731e+10  2.881496e+06        108.157111
1      02   1592604000000    259      5160        ...                 2  2.089396e+09  4.188002e+05        280.255206
2      03   1592604000000    618     13136        ...                 3  1.299836e+11  4.008988e+06        164.561047
3      04   1592604000000     49      1636        ...                 4  1.119157e+09  3.357177e+05        239.536389
4      05   1592604000000   1663     40372        ...                 5  8.782936e+10  2.648673e+06        225.131242

[5 rows x 14 columns]

In [27]:
# save dataframe to local drive in CSV format
pd_full_list.to_csv('C:/Users/dhame/ds_covid-19/data/raw/NPGEO/GER_state_data.csv',sep=';')

In [28]:
pd_full_list.describe()

       Aktualisierung        Death      Fallzahl        ...          Shape__Area  Shape__Length  faelle_100000_EW
count    1.600000e+01    16.000000     16.000000        ...         1.600000e+01   1.600000e+01         16.000000
mean     1.592604e+12   555.187500  11820.937500        ...         5.672418e+10   2.142056e+06        192.587329
std      0.000000e+00   761.924075  15097.334045        ...         4.556489e+10   1.258959e+06         87.655148
min      1.592604e+12    20.000000    791.000000        ...         1.119157e+09   3.357177e+05         49.140354
25%      1.592604e+12   160.250000   3043.750000        ...         3.202908e+10   1.471492e+06        134.162531
50%      1.592604e+12   216.000000   5284.000000        ...         5.009895e+10   2.098262e+06        168.730204
75%      1.592604e+12   529.500000  11201.000000        ...         8.023081e+10   2.706878e+06        249.716093
max      1.592604e+12  2566.000000  47827.000000        ...         1.634855e+11   4.131181e+06        365.741534

[8 rows x 9 columns]

## 3.2 Additional API Access via REST Dienst, i.e INDIA Dataset
* example of REST confirm interface (Important!!!: Registration is required)
* https://smartable.ai/

In [29]:
# I want data for INDIA, there are other choices also available
url_endpoint = 'https://api.smartable.ai/coronavirus/stats/IN'

headers = {
    'Cache-Control': 'mo-cache',
    'Subscription-Key': '22dc8d09733243328bacc2047f1c6f23'
}
response = requests.get(url_endpoint, headers=headers)

In [30]:
print(response)

<Response [200]>

In [31]:
# Check what response content
response.content

b'{\n  "location": {\n    "long": 78.0,\n    "countryOrRegion": "India",\n    "provinceOrState": null,\n    "county": null,\n    "isoCode": "IN",\n    "lat": 21.0\n  },\n  "updatedDateTime": "2020-06-20T02:29:22.237926Z",\n  "stats": {\n    "totalConfirmedCases": 395812,\n    "newlyConfirmedCases": 14327,\n    "totalDeaths": 12970,\n    "newDeaths": 365,\n    "totalRecoveredCases": 214206,\n    "newlyRecoveredCases": 9023,\n    "history": [\n      {\n        "date": "2020-01-22T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-23T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-24T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-25T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-26T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-27T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-28T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-29T00:00:00",\n        "confirmed": 0,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-30T00:00:00",\n        "confirmed": 1,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-01-31T00:00:00",\n        "confirmed": 1,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-01T00:00:00",\n        "confirmed": 1,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-02T00:00:00",\n        "confirmed": 2,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-03T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-04T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-05T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-06T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-07T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-08T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-09T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-10T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-11T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-12T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-13T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-14T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-15T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 0\n      },\n      {\n        "date": "2020-02-16T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-17T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-18T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-19T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-20T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-21T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-22T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-23T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-24T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-25T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-26T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-27T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-28T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-02-29T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-01T00:00:00",\n        "confirmed": 3,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-02T00:00:00",\n        "confirmed": 5,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-03T00:00:00",\n        "confirmed": 5,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-04T00:00:00",\n        "confirmed": 28,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-05T00:00:00",\n        "confirmed": 30,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-06T00:00:00",\n        "confirmed": 31,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-07T00:00:00",\n        "confirmed": 34,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-08T00:00:00",\n        "confirmed": 39,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-09T00:00:00",\n        "confirmed": 43,\n        "deaths": 0,\n        "recovered": 3\n      },\n      {\n        "date": "2020-03-10T00:00:00",\n        "confirmed": 56,\n        "deaths": 0,\n        "recovered": 4\n      },\n      {\n        "date": "2020-03-11T00:00:00",\n        "confirmed": 62,\n        "deaths": 1,\n        "recovered": 4\n      },\n      {\n        "date": "2020-03-12T00:00:00",\n        "confirmed": 75,\n        "deaths": 1,\n        "recovered": 4\n      },\n      {\n        "date": "2020-03-13T00:00:00",\n        "confirmed": 83,\n        "deaths": 2,\n        "recovered": 10\n      },\n      {\n        "date": "2020-03-14T00:00:00",\n        "confirmed": 105,\n        "deaths": 2,\n        "recovered": 10\n      },\n      {\n        "date": "2020-03-15T00:00:00",\n        "confirmed": 114,\n        "deaths": 2,\n        "recovered": 13\n      },\n      {\n        "date": "2020-03-16T00:00:00",\n        "confirmed": 129,\n        "deaths": 3,\n        "recovered": 13\n      },\n      {\n        "date": "2020-03-17T00:00:00",\n        "confirmed": 148,\n        "deaths": 3,\n        "recovered": 14\n      },\n      {\n        "date": "2020-03-18T00:00:00",\n        "confirmed": 171,\n        "deaths": 3,\n        "recovered": 15\n      },\n      {\n        "date": "2020-03-19T00:00:00",\n        "confirmed": 201,\n        "deaths": 5,\n        "recovered": 20\n      },\n      {\n        "date": "2020-03-20T00:00:00",\n        "confirmed": 275,\n        "deaths": 5,\n        "recovered": 23\n      },\n      {\n        "date": "2020-03-21T00:00:00",\n        "confirmed": 332,\n        "deaths": 5,\n        "recovered": 27\n      },\n      {\n        "date": "2020-03-22T00:00:00",\n        "confirmed": 425,\n        "deaths": 8,\n        "recovered": 27\n      },\n      {\n        "date": "2020-03-23T00:00:00",\n        "confirmed": 499,\n        "deaths": 10,\n        "recovered": 37\n      },\n      {\n        "date": "2020-03-24T00:00:00",\n        "confirmed": 562,\n        "deaths": 11,\n        "recovered": 40\n      },\n      {\n        "date": "2020-03-25T00:00:00",\n        "confirmed": 673,\n        "deaths": 13,\n        "recovered": 43\n      },\n      {\n        "date": "2020-03-26T00:00:00",\n        "confirmed": 747,\n        "deaths": 20,\n        "recovered": 66\n      },\n      {\n        "date": "2020-03-27T00:00:00",\n        "confirmed": 902,\n        "deaths": 20,\n        "recovered": 83\n      },\n      {\n        "date": "2020-03-28T00:00:00",\n        "confirmed": 987,\n        "deaths": 25,\n        "recovered": 87\n      },\n      {\n        "date": "2020-03-29T00:00:00",\n        "confirmed": 1024,\n        "deaths": 27,\n        "recovered": 95\n      },\n      {\n        "date": "2020-03-30T00:00:00",\n        "confirmed": 1251,\n        "deaths": 32,\n        "recovered": 102\n      },\n      {\n        "date": "2020-03-31T00:00:00",\n        "confirmed": 1590,\n        "deaths": 45,\n        "recovered": 148\n      },\n      {\n        "date": "2020-04-01T00:00:00",\n        "confirmed": 2032,\n        "deaths": 58,\n        "recovered": 148\n      },\n      {\n        "date": "2020-04-02T00:00:00",\n        "confirmed": 2567,\n        "deaths": 72,\n        "recovered": 192\n      },\n      {\n        "date": "2020-04-03T00:00:00",\n        "confirmed": 2567,\n        "deaths": 72,\n        "recovered": 192\n      },\n      {\n        "date": "2020-04-04T00:00:00",\n        "confirmed": 3588,\n        "deaths": 99,\n        "recovered": 229\n      },\n      {\n        "date": "2020-04-05T00:00:00",\n        "confirmed": 4314,\n        "deaths": 118,\n        "recovered": 328\n      },\n      {\n        "date": "2020-04-06T00:00:00",\n        "confirmed": 4778,\n        "deaths": 136,\n        "recovered": 382\n      },\n      {\n        "date": "2020-04-07T00:00:00",\n        "confirmed": 5356,\n        "deaths": 160,\n        "recovered": 468\n      },\n      {\n        "date": "2020-04-08T00:00:00",\n        "confirmed": 5916,\n        "deaths": 178,\n        "recovered": 506\n      },\n      {\n        "date": "2020-04-09T00:00:00",\n        "confirmed": 6771,\n        "deaths": 228,\n        "recovered": 635\n      },\n      {\n        "date": "2020-04-10T00:00:00",\n        "confirmed": 7600,\n        "deaths": 249,\n        "recovered": 774\n      },\n      {\n        "date": "2020-04-11T00:00:00",\n        "confirmed": 8446,\n        "deaths": 288,\n        "recovered": 969\n      },\n      {\n        "date": "2020-04-12T00:00:00",\n        "confirmed": 9240,\n        "deaths": 331,\n        "recovered": 1096\n      },\n      {\n        "date": "2020-04-13T00:00:00",\n        "confirmed": 10541,\n        "deaths": 358,\n        "recovered": 1205\n      },\n      {\n        "date": "2020-04-14T00:00:00",\n        "confirmed": 11555,\n        "deaths": 396,\n        "recovered": 1362\n      },\n      {\n        "date": "2020-04-15T00:00:00",\n        "confirmed": 12370,\n        "deaths": 422,\n        "recovered": 1508\n      },\n      {\n        "date": "2020-04-16T00:00:00",\n        "confirmed": 13495,\n        "deaths": 448,\n        "recovered": 1777\n      },\n      {\n        "date": "2020-04-17T00:00:00",\n        "confirmed": 14425,\n        "deaths": 488,\n        "recovered": 2045\n      },\n      {\n        "date": "2020-04-18T00:00:00",\n        "confirmed": 16365,\n        "deaths": 521,\n        "recovered": 2466\n      },\n      {\n        "date": "2020-04-19T00:00:00",\n        "confirmed": 17615,\n        "deaths": 559,\n        "recovered": 2854\n      },\n      {\n        "date": "2020-04-20T00:00:00",\n        "confirmed": 18658,\n        "deaths": 592,\n        "recovered": 3273\n      },\n      {\n        "date": "2020-04-21T00:00:00",\n        "confirmed": 20178,\n        "deaths": 645,\n        "recovered": 3976\n      },\n      {\n        "date": "2020-04-22T00:00:00",\n        "confirmed": 21797,\n        "deaths": 681,\n        "recovered": 4376\n      },\n      {\n        "date": "2020-04-23T00:00:00",\n        "confirmed": 23502,\n        "deaths": 722,\n        "recovered": 5012\n      },\n      {\n        "date": "2020-04-24T00:00:00",\n        "confirmed": 24530,\n        "deaths": 780,\n        "recovered": 5498\n      },\n      {\n        "date": "2020-04-25T00:00:00",\n        "confirmed": 26496,\n        "deaths": 825,\n        "recovered": 5939\n      },\n      {\n        "date": "2020-04-26T00:00:00",\n        "confirmed": 27977,\n        "deaths": 884,\n        "recovered": 6523\n      },\n      {\n        "date": "2020-04-27T00:00:00",\n        "confirmed": 29451,\n        "deaths": 939,\n        "recovered": 7137\n      },\n      {\n        "date": "2020-04-28T00:00:00",\n        "confirmed": 31360,\n        "deaths": 1008,\n        "recovered": 7747\n      },\n      {\n        "date": "2020-04-29T00:00:00",\n        "confirmed": 33062,\n        "deaths": 1079,\n        "recovered": 8437\n      },\n      {\n        "date": "2020-04-30T00:00:00",\n        "confirmed": 35043,\n        "deaths": 1154,\n        "recovered": 9068\n      },\n      {\n        "date": "2020-05-01T00:00:00",\n        "confirmed": 37371,\n        "deaths": 1238,\n        "recovered": 9943\n      },\n      {\n        "date": "2020-05-02T00:00:00",\n        "confirmed": 39980,\n        "deaths": 1323,\n        "recovered": 10819\n      },\n      {\n        "date": "2020-05-03T00:00:00",\n        "confirmed": 42670,\n        "deaths": 1395,\n        "recovered": 11782\n      },\n      {\n        "date": "2020-05-04T00:00:00",\n        "confirmed": 46476,\n        "deaths": 1571,\n        "recovered": 12849\n      },\n      {\n        "date": "2020-05-05T00:00:00",\n        "confirmed": 49436,\n        "deaths": 1695,\n        "recovered": 14183\n      },\n      {\n        "date": "2020-05-06T00:00:00",\n        "confirmed": 53045,\n        "deaths": 1787,\n        "recovered": 15331\n      },\n      {\n        "date": "2020-05-07T00:00:00",\n        "confirmed": 56409,\n        "deaths": 1890,\n        "recovered": 16790\n      },\n      {\n        "date": "2020-05-08T00:00:00",\n        "confirmed": 59765,\n        "deaths": 1986,\n        "recovered": 17897\n      },\n      {\n        "date": "2020-05-09T00:00:00",\n        "confirmed": 62939,\n        "deaths": 2109,\n        "recovered": 19358\n      },\n      {\n        "date": "2020-05-10T00:00:00",\n        "confirmed": 67259,\n        "deaths": 2212,\n        "recovered": 20969\n      },\n      {\n        "date": "2020-05-11T00:00:00",\n        "confirmed": 70827,\n        "deaths": 2294,\n        "recovered": 22549\n      },\n      {\n        "date": "2020-05-12T00:00:00",\n        "confirmed": 74480,\n        "deaths": 2415,\n        "recovered": 24453\n      },\n      {\n        "date": "2020-05-13T00:00:00",\n        "confirmed": 78194,\n        "deaths": 2551,\n        "recovered": 26400\n      },\n      {\n        "date": "2020-05-14T00:00:00",\n        "confirmed": 81997,\n        "deaths": 2649,\n        "recovered": 27969\n      },\n      {\n        "date": "2020-05-15T00:00:00",\n        "confirmed": 85940,\n        "deaths": 2753,\n        "recovered": 30258\n      },\n      {\n        "date": "2020-05-16T00:00:00",\n        "confirmed": 90927,\n        "deaths": 2872,\n        "recovered": 34224\n      },\n      {\n        "date": "2020-05-17T00:00:00",\n        "confirmed": 96169,\n        "deaths": 3029,\n        "recovered": 36824\n      },\n      {\n        "date": "2020-05-18T00:00:00",\n        "confirmed": 101261,\n        "deaths": 3164,\n        "recovered": 39233\n      },\n      {\n        "date": "2020-05-19T00:00:00",\n        "confirmed": 106886,\n        "deaths": 3303,\n        "recovered": 42309\n      },\n      {\n        "date": "2020-05-20T00:00:00",\n        "confirmed": 112442,\n        "deaths": 3438,\n        "recovered": 45422\n      },\n      {\n        "date": "2020-05-21T00:00:00",\n        "confirmed": 118501,\n        "deaths": 3585,\n        "recovered": 48553\n      },\n      {\n        "date": "2020-05-22T00:00:00",\n        "confirmed": 125149,\n        "deaths": 3728,\n        "recovered": 51824\n      },\n      {\n        "date": "2020-05-23T00:00:00",\n        "confirmed": 131920,\n        "deaths": 3869,\n        "recovered": 54441\n      },\n      {\n        "date": "2020-05-24T00:00:00",\n        "confirmed": 139049,\n        "deaths": 4024,\n        "recovered": 57721\n      },\n      {\n        "date": "2020-05-25T00:00:00",\n        "confirmed": 145456,\n        "deaths": 4172,\n        "recovered": 60706\n      },\n      {\n        "date": "2020-05-26T00:00:00",\n        "confirmed": 151876,\n        "deaths": 4349,\n        "recovered": 64426\n      },\n      {\n        "date": "2020-05-27T00:00:00",\n        "confirmed": 158415,\n        "deaths": 4534,\n        "recovered": 67749\n      },\n      {\n        "date": "2020-05-28T00:00:00",\n        "confirmed": 165829,\n        "deaths": 4713,\n        "recovered": 71106\n      },\n      {\n        "date": "2020-05-29T00:00:00",\n        "confirmed": 173763,\n        "deaths": 4980,\n        "recovered": 82627\n      },\n      {\n        "date": "2020-05-30T00:00:00",\n        "confirmed": 182490,\n        "deaths": 5186,\n        "recovered": 86984\n      },\n      {\n        "date": "2020-05-31T00:00:00",\n        "confirmed": 190791,\n        "deaths": 5408,\n        "recovered": 91855\n      },\n      {\n        "date": "2020-06-01T00:00:00",\n        "confirmed": 198706,\n        "deaths": 5608,\n        "recovered": 95754\n      },\n      {\n        "date": "2020-06-02T00:00:00",\n        "confirmed": 207615,\n        "deaths": 5829,\n        "recovered": 100303\n      },\n      {\n        "date": "2020-06-03T00:00:00",\n        "confirmed": 216824,\n        "deaths": 6088,\n        "recovered": 104071\n      },\n      {\n        "date": "2020-06-04T00:00:00",\n        "confirmed": 227029,\n        "deaths": 6363,\n        "recovered": 109462\n      },\n      {\n        "date": "2020-06-05T00:00:00",\n        "confirmed": 236954,\n        "deaths": 6649,\n        "recovered": 114073\n      },\n      {\n        "date": "2020-06-06T00:00:00",\n        "confirmed": 247040,\n        "deaths": 6946,\n        "recovered": 119293\n      },\n      {\n        "date": "2020-06-07T00:00:00",\n        "confirmed": 258090,\n        "deaths": 7207,\n        "recovered": 124095\n      },\n      {\n        "date": "2020-06-08T00:00:00",\n        "confirmed": 267046,\n        "deaths": 7473,\n        "recovered": 129215\n      },\n      {\n        "date": "2020-06-09T00:00:00",\n        "confirmed": 276146,\n        "deaths": 7750,\n        "recovered": 134670\n      },\n      {\n        "date": "2020-06-10T00:00:00",\n        "confirmed": 287155,\n        "deaths": 8107,\n        "recovered": 140979\n      },\n      {\n        "date": "2020-06-11T00:00:00",\n        "confirmed": 298283,\n        "deaths": 8501,\n        "recovered": 147195\n      },\n      {\n        "date": "2020-06-12T00:00:00",\n        "confirmed": 309603,\n        "deaths": 8890,\n        "recovered": 154330\n      },\n      {\n        "date": "2020-06-13T00:00:00",\n        "confirmed": 321626,\n        "deaths": 9205,\n        "recovered": 16237

In [32]:
IN_dict = json.loads(response.content) # loading strings for India dataset and dump into JSON file with .txt format
with open ('C:/Users/dhame/ds_covid-19/data/raw/IN_data.txt','w') as outfile:
    json.dump(IN_dict, outfile,indent=2)

In [33]:
# put all dictionary type data for INDIA into dataframe
df_4 = pd.DataFrame(IN_dict)
df_4.head()

                location                        ...                                                                      stats
breakdowns           NaN                        ...                          [{'location': {'long': 78.0, 'countryOrRegion'...
countryOrRegion    India                        ...                                                                        NaN
county              None                        ...                                                                        NaN
history              NaN                        ...                          [{'date': '2020-01-22T00:00:00', 'confirmed': ...
isoCode               IN                        ...                                                                        NaN

[5 rows x 3 columns]